body{
margin: 0;
text-align: center;
font-family: 'Merriweather', serif;
}
h1{
  width:10%;
  font-family: 'Sacramento', cursive;
  margin:0 auto;
}
h2{
  font-family: 'Montserrat', sans-serif;
}
h3{

  font-family: 'Montserrat', sans-serif;
}
.top-container{
background-color: #7D9D9C;
position: relative;
padding-top: 100px;

}
.top-cloud{
position: absolute;
right: 500px;
top: 50px;
}
.bottom-cloud{
position: absolute;
left:500px;
bottom:300px;
}
.pro{
text-decoration: underline;
}


.bottom-container{


}
.middle-container{


}
.ADS{

  height: 300px;
  width:300px;
}
.world{
  height: 275px;
  width:275px;

}
.things{
  height: 275px;
  width:275px;

}
.contact{
  height: 275px;
  width:275px;

}
